.venv

age.png
gender.png
health_benefits.png
mh_discussion_employer.png
mh_disorder.png
mh_employer_awareness.png
mh_history.png
mh_impact.png
mh_treatment.png
missing_values.png
remote.png
Correlation Matrix Pearson.png
Correlation Matrix spearman.png
PCA_variance.png
kmean_ata.csv
elbow_method_plot.png

kaggle.py

mh_data_cleaned.csv
mh_data_feature_eng.csv

